---
import Image1 from '../../public/Carousel/1.jpg'
import Image2 from '../../public/Carousel/2.jpg'
import Image3 from '../../public/Carousel/3.jpg'
import Image4 from '../../public/Carousel/4.jpg'
import Image5 from '../../public/Carousel/5.jpg'
import Image6 from '../../public/Carousel/6.jpg'
import Image7 from '../../public/Carousel/7.jpg'
import Image8 from '../../public/Carousel/8.jpg'
import Image9 from '../../public/Carousel/9.jpg'
import Image10 from '../../public/Carousel/10.jpg'
---
<div id="draggable" data-carousel='{ "loadingClasses": "opacity-0","dotsItemClasses": "carousel-dot carousel-active:bg-primary", "slidesQty": { "xs": 1, "lg": 3 }, "isDraggable": true }' class="relative w-full" >
  <div class="carousel h-80">
    <div class="carousel-body h-full carousel-dragging:transition-none carousel-dragging:cursor-grabbing cursor-grab" >
      <!-- Slide 1 -->
      <div class="carousel-slide">
        <div class="bg-base-200/50 flex h-full justify-center p-6">
          <img src={Image1.src} alt="Image 1" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="carousel-slide">
        <div class="bg-base-200 flex h-full justify-center p-6">
          <img src={Image2.src} alt="Image 2" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="carousel-slide">
        <div class="bg-base-200 flex h-full justify-center p-6">
          <img src={Image3.src} alt="Image 3" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 4 -->
      <div class="carousel-slide">
        <div class="bg-base-200/50 flex h-full justify-center p-6">
          <img src={Image4.src} alt="Image 4" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 5 -->
      <div class="carousel-slide">
        <div class="bg-base-200 flex h-full justify-center p-6">
          <img src={Image5.src} alt="Image 5" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 6 -->
      <div class="carousel-slide">
        <div class="bg-base-200 flex h-full justify-center p-6">
          <img src={Image6.src} alt="Image 6" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 7 -->
      <div class="carousel-slide">
        <div class="bg-base-200 flex h-full justify-center p-6">
          <img src={Image7.src} alt="Image 7" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 8 -->
      <div class="carousel-slide">
        <div class="bg-base-200/50 flex h-full justify-center p-6">
          <img src={Image8.src} alt="Image 8" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 9 -->
      <div class="carousel-slide">
        <div class="bg-base-200 flex h-full justify-center p-6">
          <img src={Image9.src} alt="Image 9" class="object-cover w-full h-full" />
        </div>
      </div>
      <!-- Slide 10 -->
      <div class="carousel-slide">
        <div class="bg-base-200 flex h-full justify-center p-6">
          <img src={Image10.src} alt="Image 10" class="object-cover w-full h-full" />
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-pagination absolute bottom-3 end-0 start-0 flex justify-center gap-3"></div>
</div>